<Content>
    <Extensions Count="1">
        <Extension type="Part::AttachExtension" name="AttachExtension">
        </Extension>
    </Extensions>
    <Properties Count="13">
        <Property name="AttacherType" type="App::PropertyString">
            <String value="Attacher::AttachEnginePlane"/>
        </Property>
        <Property name="AttachmentOffset" type="App::PropertyPlacement">
            <PropertyPlacement Px="0.0000000000000000" Py="0.0000000000000000" Pz="0.0000000000000000" Q0="0.0000000000000000" Q1="0.0000000000000000" Q2="0.0000000000000000" Q3="1.0000000000000000" A="0.0000000000000000" Ox="0.0000000000000000" Oy="0.0000000000000000" Oz="1.0000000000000000"/>
        </Property>
        <Property name="Constraints" type="Sketcher::PropertyConstraintList">
            <ConstraintList count="6">
                <Constrain Name="" Type="5" Value="1.5707963267948966" First="0" FirstPos="1" Second="3" SecondPos="1" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
                <Constrain Name="" Type="5" Value="-1.5707963267948966" First="0" FirstPos="2" Second="2" SecondPos="1" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
                <Constrain Name="" Type="5" Value="-1.5707963267948966" First="2" FirstPos="2" Second="1" SecondPos="1" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
                <Constrain Name="" Type="5" Value="1.5707963267948966" First="3" FirstPos="2" Second="1" SecondPos="2" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
                <Constrain Name="" Type="2" Value="0.0000000000000000" First="2" FirstPos="0" Second="-2000" SecondPos="0" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
                <Constrain Name="" Type="12" Value="0.0000000000000000" First="0" FirstPos="0" Second="1" SecondPos="0" Third="-2000" ThirdPos="0" LabelDistance="10.0000000000000000" LabelPosition="0.0000000000000000" IsDriving="1" IsInVirtualSpace="0" />
            </ConstraintList>
        </Property>
        <Property name="ExpressionEngine" type="App::PropertyExpressionEngine">
            <ExpressionEngine count="0">
            </ExpressionEngine>
        </Property>
        <Property name="ExternalGeometry" type="App::PropertyLinkSubList">
            <LinkSubList count="0">
            </LinkSubList>
        </Property>
        <Property name="Geometry" type="Part::PropertyGeometryList">
            <GeometryList count="4">
                <Geometry  type="Part::GeomArcOfCircle">
                    <Construction value="0"/>
                    <ArcOfCircle CenterX="-58.4073095567130740" CenterY="12.3189470000000000" CenterZ="0.0000000000000000" NormalX="0.0000000000000000" NormalY="0.0000000000000000" NormalZ="1.0000000000000000" AngleXU="-0.0000000000000000" Radius="38.0767479999959380" StartAngle="1.5707963267948966" EndAngle="4.7123889803846897"/>
                </Geometry>
                <Geometry  type="Part::GeomArcOfCircle">
                    <Construction value="0"/>
                    <ArcOfCircle CenterX="14.4726069999999980" CenterY="12.3189470000000000" CenterZ="0.0000000000000000" NormalX="0.0000000000000000" NormalY="0.0000000000000000" NormalZ="1.0000000000000000" AngleXU="-0.0000000000000000" Radius="38.0767479999959380" StartAngle="4.7123889803846897" EndAngle="7.8539816339744828"/>
                </Geometry>
                <Geometry  type="Part::GeomLineSegment">
                    <Construction value="0"/>
                    <LineSegment StartX="-58.4073095567130740" StartY="-25.7578009999979680" StartZ="0.0000000000000000" EndX="14.4726069999999960" EndY="-25.7578009999979680" EndZ="0.0000000000000000"/>
                </Geometry>
                <Geometry  type="Part::GeomLineSegment">
                    <Construction value="0"/>
                    <LineSegment StartX="-58.4073095567130810" StartY="50.3956949999979710" StartZ="0.0000000000000000" EndX="14.4726070000000040" EndY="50.3956949999979710" EndZ="0.0000000000000000"/>
                </Geometry>
            </GeometryList>
        </Property>
        <Property name="Label" type="App::PropertyString">
            <String value="Sketch"/>
        </Property>
        <Property name="MapMode" type="App::PropertyEnumeration">
            <Integer value="0"/>
        </Property>
        <Property name="MapPathParameter" type="App::PropertyFloat">
            <Float value="0.0000000000000000"/>
        </Property>
        <Property name="MapReversed" type="App::PropertyBool">
            <Bool value="false"/>
        </Property>
        <Property name="Placement" type="App::PropertyPlacement">
            <PropertyPlacement Px="0.0000000000000000" Py="0.0000000000000000" Pz="0.0000000000000000" Q0="0.0000000000000000" Q1="0.0000000000000000" Q2="0.0000000000000000" Q3="1.0000000000000000" A="0.0000000000000000" Ox="0.0000000000000000" Oy="0.0000000000000000" Oz="1.0000000000000000"/>
        </Property>
        <Property name="Shape" type="Part::PropertyPartShape">
            <Part file="PartShape.bin"/>
        </Property>
        <Property name="Support" type="App::PropertyLinkSubList">
            <LinkSubList count="0">
            </LinkSubList>
        </Property>
    </Properties>
</Content>